config BMA400
	tristate "Bosch BMA400 3-Axis Accelerometer Driver"
	depends on I2C
	select REGMAP
	select BMA400_I2C if (I2C)
	help
	  Say Y here if you want to build a driver for the Bosch BMA400
	  triaxial acceleration sensor.

	  To compile this driver as a module, choose M here: the
	  module will be called bma400_core and you will also get
	  bma400_i2c for I2C

config BMA400_I2C
	tristate
	depends on BMA400
	depends on I2C
	select REGMAP_I2C
